@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

h1 {
  color: #576e73;
}

h2 {
  color: white;
}

h3 {
  color: #99adae;
}

h4 {
  color: #b4bdac;
}

h5 {
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  font-weight: bold;
}

h6 {
  color: #283E43;
  font-family: 'Pacifico', cursive;
  font-size: 20px; 
  font-weight: bold;
}

p {
  color: rgb(87, 110, 115);
}

a.link {
  color: #ADD8E6; 
  text-decoration: none;
  margin-right: 15px;
  margin-left: 0;
}

a.link:hover {
  font-weight: bold;
  color: #839868;
}

a.link:focus {
  font-weight: bold;
  color: #ADD8E6;
}

.navbar {
  background-color: #b4bdac;
  font-family: 'Pacifico', cursive; 
  font-size: 20px;
}

.col-sm, .col-md {
  background-color: #cac093;
  margin: 15px;
  padding: 5px;
}

.row {
  margin: 15px;
}

.row-center {
  margin-left: -15px;
}

.uniform-four-column-image {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.uniform-two-column-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 5px;
}

.internal-container {
  padding: 20px;
  margin-top: 20px;
  outline: 2px solid #616b4d;
}

.icon-button {
  background-color: rgb(255, 255, 235);
  color: #576e73;
}

.icon-button:hover {
  box-shadow: 0 0 10px 0 #dbb9b3 inset, 0 0 30px 5px #b4bdac; 
  color: #576e73;
}

.index-link {
  color: #616b4d;
  text-decoration: none;
  font-weight: bold;
}

.index-link:hover {
  color: #b4bdac;
  text-decoration: underline;
}

.maroon_text {
  color: #576e73;
}

.unordered_no_bullets {
  list-style-type: none;
}

.navbar .dropdown-menu .dropdown-item {
  background-color: #99adae;
  color: #13292D;
  font-family: 'Pacifico', cursive;
  font-size: 18px;
}

.navbar .dropdown-menu .dropdown-item:hover,
.navbar .dropdown-menu .dropdown-item:focus {
  background-color: #b4bdac;
  color: #576e73; 
}

.maroon_bar {
  background-color: #576e73;
  color: white;
}

.active {
  color: white;
  font-weight: bold;
}

.footer {
  background-color: #839868;
  width: 100%;
  position: absolute;
}

.container-content {
  padding: 20px;
  min-height: calc(100vh - 150px);
}

.display-section {
  background-color: #5D6B42;
  color: white; 
  text-align: center;
  padding: 5rem;
}
